<mat-card class="profile-card">
  @if (isLoading()) {
    <div class="loading">Loading profile...</div>
  } @else {
    <mat-card-header>
      <img
        mat-card-avatar
        class="large-avatar"
        [src]="user().profilePictureUrl || 'assets/default-avatar.png'"
        (error)="user().profilePictureUrl = ''"
        alt="User avatar"
      />
      <div class="header-text">
        <mat-card-title>
          @if (user().firstName && user().lastName) {
            {{ user().firstName }} {{ user().lastName }}
          } @else {
            Profile Not Complete
          }
        </mat-card-title>
        <mat-card-subtitle class="user-details">
          <a [href]="'mailto:' + user().email" class="user-email">{{ user().email }}</a>
          @if (user().phone) {
            <div>{{ user().phone }}</div>
          }
          @if (user().memberSince) {
            <div>Member since {{ user().memberSince }}</div>
          }
        </mat-card-subtitle>
      </div>
    </mat-card-header>
  }
</mat-card>
