<aside class="sidebar">
  <div class="sidebar-header">
    <app-logo />
  </div>

  <nav class="sidebar-nav">
    <button mat-button class="nav-item active">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="nav-item">
      <mat-icon>search</mat-icon>
      <span>Search</span>
    </button>
    <button mat-button class="nav-item">
      <mat-icon>explore</mat-icon>
      <span>Explore</span>
    </button>
    <button mat-button class="nav-item" (click)="openCreateDialog()">
      <mat-icon>add_box</mat-icon>
      <span>Create</span>
    </button>
    <button mat-button class="nav-item">
      <mat-icon>group</mat-icon>
      <span>Users</span>
    </button>
    <a mat-button class="nav-item" routerLink="/home/profile" routerLinkActive="active">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </a>
    <a mat-button class="nav-item" routerLink="/">
      <mat-icon>logout</mat-icon>
      <span>Log out</span>
    </a>
  </nav>
</aside>
