<app-back-arrow />
<div class="page-container">
  <app-logo />

  <form [formGroup]="signInForm" (ngSubmit)="onSignIn()" class="auth-form">
    @if (errorMessage()) {
      <div class="error-message">{{ errorMessage() }}</div>
    }

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" placeholder="Ex. pat@example.com" />
      @if (
        signInForm.controls.email.hasError('email') &&
        !signInForm.controls.email.hasError('required')
      ) {
        <mat-error>Please enter a valid email address</mat-error>
      }
      @if (signInForm.controls.email.hasError('required')) {
        <mat-error>Email is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      @if (signInForm.controls.password.hasError('required')) {
        <mat-error>Password is required</mat-error>
      }
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="signInForm.invalid || isLoading()"
    >
      @if (isLoading()) {
        <mat-spinner diameter="20"></mat-spinner>
      } @else {
        Sign In
      }
    </button>
  </form>

  <div class="divider">
    <span>OR</span>
  </div>

  <div id="google-btn" class="google-login-btn"></div>

  <div class="link-text">Don't have an account? <a routerLink="/sign-up">Sign Up</a></div>
</div>
