<app-explore-header></app-explore-header>

<div class="explore-content">
    <div class="image-grid">
        @for (image of images(); track image.id) {
        <div class="grid-item" (click)="openImage(image)" style="cursor: pointer;">
            <img [src]="'http://localhost:5266' + image.filePath" [alt]="image.description" loading="lazy">
            <div class="overlay">
                <mat-icon>visibility</mat-icon>
            </div>
        </div>
        }
    </div>

    <div #sentinel class="loading-trigger">
        @if (loading()) {
        <mat-spinner diameter="40"></mat-spinner>
        }
    </div>
</div>