@if (user$ | async; as user) {
  <mat-card class="profile-card">
    <mat-card-header>
      <img
        mat-card-avatar
        class="large-avatar"
        [src]="user.profilePictureUrl"
        [alt]="user.username"
      />
      <div class="header-text">
        <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
        <mat-card-subtitle class="user-details">
          <a [href]="'mailto:' + user.email" class="user-email">{{ user.email }}</a>
          <div>{{ user.phoneNumber }}</div>
          <div>Membre depuis {{ user.registrationDate }}</div>
        </mat-card-subtitle>
      </div>
    </mat-card-header>
  </mat-card>

  @if (userImages$ | async; as userImages) {
    <app-image-gallery [images]="userImages" />
  }
} @else {
  <p class="not-found">User not found.</p>
}
